<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  {{!--<link rel="shortcut icon" href="/favicon.png" />--}}
  <title>Mathbox Sandbox</title>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- Local Assets -->
  <link rel="stylesheet" href="/mathbox.css">
  <link rel="stylesheet" href="/style.css">
  <script src="/mathbox-bundle.js"></script>

</head>
<body>
<!-- THIS MUSIC VISUALIZER DEMO WAS NOT CREATED BY ME, I'M JUST LEARNING MATHBOX AND WANTED TO TRY IMPLEMENTING THE DEMO MYSELF -->
<!-- GO HERE TO LEARN ABOUT MATHBOX https://acko.net/blog/mathbox2/ -->

<div class="page-content">{{{body}}}</div>
 
</body>
</html>
